accelerate
aiofiles
annotated-types
anyio
certifi
charset-normalizer
click
contourpy
cycler
decorator
docstring_parser
einops
fastapi
ffmpy
filelock
fonttools
fsspec
ftfy
gradio
gradio_client
h11
httpcore
httpx
huggingface-hub
idna
imageio
imageio-ffmpeg
iniconfig
inquirerpy
ipython
Jinja2
jsonargparse
kiwisolver
lazy_loader
loguru
lpips
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
networkx
ninja
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
opencv-python
orjson
pandas
pfzy
pillow
pluggy
psutil
pydantic
pydantic_core
pydub
pyparsing
pytest
python-multipart
pytz
PyYAML
regex
requests
rich
ruff
safetensors
scikit-image
scipy
semantic-version
sentencepiece
shellingham
sniffio
starlette
sympy
tabulate
termcolor
tifffile
tokenizers
tomli
tomlkit
torch==2.6.0
torchaudio
torchvision
tqdm
transformers
triton
typer
tzdata
urllib3
uvicorn
websockets